<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--登录表单-->
<form action="/login" method="post">
    <label for="usernameIpt">账号: </label>
    <input id="usernameIpt" type="text" name="uname"/>
    <label for="passwordIpt">密码: </label>
    <input id="passwordIpt" type="password" name="pwd"/>
    <label for="rememberMeIpt">记住我: </label>
    <input id="rememberMeIpt" type="checkbox" name="remember-me" value="true"/>
    <button type="submit">登录</button>
</form>
</body>
</html>